.App {
  text-align: center;
}

body ,html{
    max-width: 100%;
    font-family: 'Roboto';
}
.App-logo {
  /* height: 10vmin !important; */
  pointer-events: none;
}

/* definicoes Globais */

label{
  color: rgb(0, 0, 0);
  text-decoration: none;
  font-size: 11px;
}
label:hover{
  color:rgb(57, 209, 127);
  cursor: pointer;
}
.link-hover-manifexto{
  color: #000;
}
.link-hover-manifexto:hover{
   color:rgb(57, 209, 127);
  cursor: pointer;
  text-decoration: none !important;
}
.content-title{
  float: left;
  padding: 15px;
  font-size: 17px;
}

/* body{
    background: #000;
} */

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite .5s linear;
  }
}

.App-link {
  color: #61dafb;
}

.container{
  max-width: 130vh;
  display: grid;
  margin: auto;
  padding-top: 120px;
}

header{
  width: 100%;
  top: 0px;
  left: 0px;
  border-bottom: 1px solid rgb(219, 219, 219);
  position: fixed;
  background: #fff;
}

nav{
  max-width: 130vh;
  height: 75px;
  margin: auto;
  display: grid;
  grid-template-columns: 3fr 4fr 3fr;
  column-gap: 5px;
}
/* .divide{
   background: rgb(65, 64, 64);
} */
.divide .image-logo{
  padding-top:5px;
  margin: 10px auto auto 10px;
  height: 50px;
  width: 98%;
  min-width: 10vh;
  background: url('../images/Logotipo_Manifexto2018@2x.png') left no-repeat;
  background-size: contain;
}

.divide .images-items{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.center-box{
  display: grid;
  grid-template-columns: .1fr;
  grid-template-rows: 14fr;
  column-gap: 5px;
  row-gap: 5px;
  /* background: #61dafb; */
}

 .center-top{
  /* background: rgb(83, 78, 78); */
  height: 48px;
  text-align: left;
  grid-column: 1/4;
  display: grid;
  grid-template-columns: .2fr 0fr 6fr .2fr;
 }

 .center-top div button{
  border: none;
  border-left: 3px solid rgb(236, 236, 236);
  border-top: 3px solid rgb(236, 236, 236);
  border-bottom: 3px solid rgb(236, 236, 236);
  height: 45px;
  background-color: rgb(255, 255, 255);
  margin: 5px 0px;
  border-radius: 4px 0px 0px 4px;
  width: 5vh;
  background: url(../images/search.png) center no-repeat;
  background-size: 20px;
 }
 
.center-top div button img{
    width:18px;
    padding:10px;
    background: #000;
 }

 .center-top div input{
  border: none;
  margin: 5px 0px;
  height: 45px;
  border-radius: 0px 4px 4px 0px;
  padding-left: 10px;
  background-color: rgb(236, 236, 236);
  width: 100%;
 }

.center-bottom{
  height:20px;
  text-align:left;
  grid-column:1/4;
  display:grid;
  grid-template-columns:.28fr 1.5fr .30fr;

}

/* .center-bottom div{
  background-color: #61dafb;
} */

.catego-items{
  display: grid;
  grid-template-columns:.5fr .5fr .5fr .5fr  ;
  /* column-gap: 5px; */
}

.catego-items div{
  width: 75px;
  text-align: center;
  text-transform:capitalize;
  font-size: 11px;
  padding-top: 0px;
  padding-right: 0px;
  color: #000;
  text-decoration: none;
  /* background-color: #61dafb; */
}

.catego-items div img{
  width: 15px;
}


.btn-alertas{
  padding-top: 10px;
  width: 45px;
  grid-column: 5/6;
  color: rgb(0, 0, 0);
}

.btn-alertas img{
  width: 3.2vh;
}
.btn-alertas label{
  margin-left: -5px;
}

.btn-conta{
  padding-top: 10px;
  width: 5vh;
  grid-column: 6/7;
  color: rgb(0, 0, 0);
}

.btn-conta img{
  width: 3.2vh;
}

.topBar{
  background: rgb(45, 210, 124);
  height: 30px;
  width: 100%;
}
.barcontent{
  max-width: 130vh;
  height: 35px;
  margin: auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.leftside{
  height: 35px;
  grid-column: 1/2;
}

.leftside ul{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  list-style-type: none;
  text-align: left;
}

.leftside item{
  padding:6px 5px 0px 10px;
  float: left;
  color: #fff;
  font-size: 12px;
}

.rightside{
  height: 35px;
  grid-column: 2/3;
}
.rightside item{
  padding: 5px 12px 10px 0px;
  float: right;
  width: 2vh;
}
item img{
  width: 2vh;
}


.news-box{
  width: 97%;
  margin: auto auto 20px auto;
  min-height: 180px;
  max-height: 210px;
  /* background: #61dafb; */
  display: grid;
  grid-template-columns: .5fr 1fr;
  column-gap: 10px;
  border: 1px solid rgb(231, 229, 229);
  border-radius: 10px;
}

.news-box div{
  background-size: cover !important;
  background-repeat: no-repeat !important;
  background-position: center !important;
  border-radius: 10px;
}

.news-box-description{
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: .7fr 0fr 0fr;
  border-radius: 0px !important;
}
.news-box-description div{
  /* background-color: rgb(112, 112, 112); */
  border-radius: 0px !important;
  text-align: left;
  padding: 12px;
}

.news-box-description-title{
  font-weight: bold;
}
.news-box-description-title a{
  text-decoration: none;
  color: #000;
  font-size: 17px;
}
.news-box-description-title a:hover{
  color: rgb(45, 210, 124);
}
.box-news-font{
  font-size: 15px;
}

footer{
 

}


@keyframes App-logo-spin {
  from {
    transform: Scale(1,1);
    transition: all .2s ease-in;
     /* transform: rotate(-20deg); */
  }
  to {
    transform: Scale(1.15,1.15);
     /* transform: rotate(-10deg); */
  }
}



@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  .divide .image-logo{
    padding-top:0px;
    width: 3vh;
    margin: auto;
    min-width: 10vh;
    background: url('../images/mobileIc.png') center no-repeat;
    background-size: contain;
  }

  .center-top{
    grid-template-columns: 0fr 0fr 1.4fr 0fr;
   }
   
   nav{
    display: grid;
    grid-template-columns: 1fr 6fr 2fr;
    column-gap: 5px;
  }
  .box-news-descricao{
    font-size: 13px;
  }
  .box-news-font{
    font-size: 13px;
  }
}
