.App {
  text-align: center;
}

body ,html{
    max-width: 100%;
    font-family: 'Roboto';
}
.App-logo {
  /* height: 10vmin !important; */
  pointer-events: none;
}

/* definicoes Globais */

label{
  color: rgb(0, 0, 0);
  text-decoration: none;
  font-size: 11px;
}
.tag{
  background: rgb(57, 209, 127);
  padding: 2px;
  border-right: 4px solid rgb(85, 85, 85);
  font-size: 12px;
}

.normalLink{
  color: rgb(0, 0, 0);
  text-decoration: none;
  font-size: 12px;
}
label:hover,.normalLink:hover{
  color:rgb(57, 209, 127);
  cursor: pointer;
}
.link-hover-manifexto{
  color: #000;
}
.link-hover-manifexto:hover{
   color:rgb(57, 209, 127);
  cursor: pointer;
  text-decoration: none !important;
}
.content-title{
  float: left;
  padding: 15px;
  font-size: 17px;
}

/* body{
    background: #000;
} */

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite .5s linear;
  }
}

.App-link {
  color: #61dafb;
}

.container{
  max-width: 130vh;
  display: grid;
  margin: auto;
  padding-top: 120px;
}

header{
  width: 100%;
  top: 0px;
  left: 0px;
  border-bottom: 1px solid rgb(219, 219, 219);
  position: fixed;
  background: #fff;
}

nav{
  max-width: 130vh;
  height: 75px;
  margin: auto;
  display: grid;
  grid-template-columns: 3.2fr 4fr 2.5fr;
  column-gap: 5px;
}
/* .divide{*/
/*   background: rgb(65, 64, 64);*/
/*} */
.divide .image-logo{
  padding-top:5px;
  margin: 10px auto auto 10px;
  height: 50px;
  width: 100%;
  min-width: 10vh;
  background: url('../cron-jobs/img/manilogo.png') left no-repeat;
  background-size: contain;
}

.divide .images-items{
  display: grid;
  grid-template-columns: .5fr .5fr;
}
.images-items div{
     text-align:center;
     /*background: #61dafb; */
}

/* .center-box{
  background: #61dafb;
} */

 .center-top{
  /* background: rgb(83, 78, 78); */
  height: 70px;
  text-align: left;
  grid-column: 1/4;
  display: grid;
  grid-template-columns: .2fr 0fr 6fr 1.2fr 1fr 1fr 1fr;
  margin: auto;
  padding-top: 7px;
 }

 .center-top .icon-center a{
   background: rgb(236,236,236);
   width: 100%;
   font-size: 9px;
   text-align: center;
   text-transform: capitalize;
   display: grid;
   grid-template-columns: 1fr;
   grid-template-rows: .7fr .5fr;
   margin-top: 5px;
   text-decoration: none;
   color: rgb(82, 80, 80);
   height: 45px;
 }
 /* .center-top .icon-center a div{
   border-top: 1px solid #61dafb;
 } */
 .icon-ic{
   background-position: center;
   background-repeat: no-repeat;
   background-size: 15px;
 }
 .icon-let{
   display: inline-block;
 }

 .center-top .icon-center a:hover ,.center-top .icon-center a:hover div{
   cursor: pointer;
   background-size: 18px;
   color: rgb(45, 210, 124);
 }


 .center-top div button{
  border: none;
  border-left: 3px solid rgb(236, 236, 236);
  border-top: 3px solid rgb(236, 236, 236);
  border-bottom: 3px solid rgb(236, 236, 236);
  height: 45px;
  background-color: rgb(255, 255, 255);
  margin: 5px 0px;
  border-radius: 4px 0px 0px 4px;
  width: 5vh;
  background: url(../images/search.png) center no-repeat;
  background-color:rgb(236,236,236);

  background-size: 20px;
 }
 
.center-top div button img{
    width:18px;
    padding:10px;
    background: #000;
 }

 .center-top div input{
  border: none;
  margin: 5px 0px;
  height: 45px;
  padding-left: 10px;
  background-color: rgb(236, 236, 236);
  width: 100%;
 }

.center-bottom{
  height:20px;
  text-align:left;
  grid-column:1/4;
  display:grid;
  grid-template-columns:.28fr 1.5fr .30fr;

}

/* .center-bottom div{
  background-color: #61dafb;
} */

.catego-items{
  display: grid;
  margin:auto;
  grid-template-columns:.5fr .5fr .5fr .5fr  ;
  /* column-gap: 5px; */
}

.catego-items div{
  width: 75px;
  text-align: center;
  text-transform:capitalize;
  font-size: 11px;
  padding-top: 0px;
  padding-right: 0px;
  color: #000;
  text-decoration: none;
  /* background-color: #61dafb; */
}

.catego-items div img{
  width: 15px;
}


.btn-alertas{
  padding-top: 10px;
  width: 45px;
  grid-column: 5/6;
  color: rgb(0, 0, 0);
}

.btn-alertas a{
  text-decoration: none;
  color: #000;
}

.btn-alertas img{
  width: 3vh;
}

.btn-alertas:hover img,.btn-alertas:hover label{
  filter: invert(48%) sepia(13%) saturate(3207%) hue-rotate(130deg) brightness(95%) contrast(80%);
  cursor: pointer;
  transform: scale(1.1,1.1);
}


.btn-conta{
  padding-top: 10px;
  width: 5vh;
  grid-column: 6/7;
  color: rgb(0, 0, 0);
}

.btn-conta a{
  text-decoration: none;
  color: #000;
}

.btn-conta img{
  width: 3vh;
}
.btn-conta:hover img,.btn-conta:hover label{
  filter: invert(48%) sepia(13%) saturate(3207%) hue-rotate(130deg) brightness(95%) contrast(80%);
  cursor: pointer;
  transform: scale(1.1,1.1);
}

.topBar{
  background: rgb(45, 210, 124);
  height: 30px;
  width: 100%;
}
.barcontent{
  max-width: 130vh;
  height: 35px;
  margin: auto;
  display: grid;
  grid-template-columns: 2fr .8fr;
}

.leftside{
  height: 35px;
  grid-column: 1/2;
}

.leftside ul{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  list-style-type: none;
  text-align: left;
}

.leftside item{
  padding:8px 5px 0px 10px;
  float: left;
  color: #fff;
  font-size: 12px;
}

.rightside{
  height: 35px;
  grid-column: 2/3;
}
.rightside item{
  padding: 5px 12px 10px 0px;
  float: right;
  width: 2vh;
  margin-right: 10px;
}
item img{
  width: 2vh;
}


.news-box{
  width: 97%;
  margin: auto auto 20px auto;
  min-height: 180px;
  max-height: 210px;
  /* background: #61dafb; */
  display: grid;
  grid-template-columns: .5fr 1fr;
  column-gap: 10px;
  border: 1px solid rgb(231, 229, 229);
  border-radius: 10px;
}

.news-box div{
  background-size: cover !important;
  background-repeat: no-repeat !important;
  background-position: center !important;
  border-radius: 10px;
}

.news-box-description{
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: .7fr 0fr 0fr;
  border-radius: 0px !important;
}
.news-box-description div{
  /* background-color: rgb(112, 112, 112); */
  border-radius: 0px !important;
  text-align: left;
  padding: 12px;
}

.news-box-description-title{
  font-weight: bold;
}
.news-box-description-title a{
  text-decoration: none;
  color: #000;
  font-size: 15px;
}
.news-box-description-title a:hover{
  color: rgb(45, 210, 124);
}
.box-news-font{
  font-size: 15px;
}


/* alertas */
.list-alerts{
  margin: auto auto 15px auto;
  width: 99%;
  height: 60px;
  background: rgba(241, 241, 241, 0.637);
  border-radius: 5px;
  display: grid;
  grid-template-columns: 1fr .12fr;
}
.list-alerts div b{
  float: left;
  padding: 20px;
  text-transform: capitalize;
}
.btn-list{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
/* .btn-list div{
  border: 1px solid #f00;
} */
.icon-alert-list{
  margin-top: 6px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 2.8fr 1fr 1fr;
}

.icon-alert-list div{
  font-size: 10px;
  text-align: center;
  /* border: 1px solid #f00; */
}
.icon-alert-list{
  text-decoration: none;
  color: #000;
  text-transform: capitalize;
  margin: 5px;
}
.ic-bck{
  background-size: contain !important;
  background-size: 23px !important;
  background-position: center !important;
  background-repeat: no-repeat !important;
}
.icon-alert-list:hover,.icon-alert-list:hover div{
  color: rgb(45, 210, 124);
  background-size: 10px;
}


/* editar Alertas */
.form-input-style{
  width: 99%;
  margin: auto;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: .6fr .6fr;
  row-gap: 5px;
}

.form-input-style div{
  width: 60% !important;
  border: none;
  box-shadow: none;
  background: rgb(233, 231, 231);
}
.form-input-style .input-data-field input{
  border: none;
  box-shadow: none;
  background: transparent;
}

.input-data-field{
  padding-top: 5px;
  background: rgb(233, 231, 231);
  border-radius: 3px;
  display: grid;
  grid-template-columns: 8fr .1fr;
}

.prefix-button{
  padding: 5px;
  margin-right: 10px;
  width: 10px;
  height: 10px;
}

.button-action{
  width: 99%;
  margin: 20px auto;
  display: grid;
  grid-template-columns:0fr .25fr .25fr .25fr 3fr;
  column-gap: 5px;
}

.button-action a{
  display: grid;
  grid-template-columns: .9fr;
  grid-template-rows: .3fr .3fr;
  border-radius: 3px;
  text-align: center;
  background: #e2e2e2;
  text-decoration: none;
  color: rgb(87, 87, 87);
  transition: all .1s ease-in-out;
}
.button-action a:hover, .button-action i:hover :not(:last-child):after{
  color: rgb(45, 210, 124);
  transition: all .2s ease-in-out;
  transform: scale(1.1,1.1);
}

.button-action a .iten-button{
  font-size: 10px;
  padding: 5px;
}

.button-action a .iten-button i{
  font-size: 16px;
  text-align: center;
  position: relative;
  top: 5px;
}

.fas{
  -webkit-text-fill-color: rgba(187, 187, 187, 0);
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke:1px #8b8b8b;
}


footer{
 

}


@keyframes App-logo-spin {
  from {
    transform: Scale(1,1);
    transition: all .2s ease-in;
     /* transform: rotate(-20deg); */
  }
  to {
    transform: Scale(1.15,1.15);
     /* transform: rotate(-10deg); */
  }
}


@media only screen and (max-width: 838px) {
  /* For mobile phones: */
  .divide .image-logo{
    padding-top:0px;
    width: 3vh;
    margin:5px auto auto 5px;
    min-width: 10vh;
    background: url('../images/mobileIc.png') center no-repeat;
    background-size: contain;
  }

  .center-top{
      margin:auto;
      grid-template-columns: 0fr 0fr 1.4fr 0fr;
   }
   
   
   nav{
    display: grid;
    grid-template-columns: 1fr 6fr .7fr;
    column-gap: 3px;
  }
  
  
  .box-news-descricao{
    font-size: 15px;
    text-align:justify;
  }
  .box-news-font{
    font-size: 13px;
  }
  
  
  .rightside item{
   padding: 6px 12px 10px 0px;
   width: 2vh;
  }
  
  item img{
      width: 2.5vh;
  }
  
  .catego-items{
      margin-left:-25px;
  }
  .center-top{
      width:100%;
      height: 50px;
      text-align: left;
      grid-column: 1/4;
      display: grid;
      grid-template-columns: .2fr 0fr 6fr 1.2fr 1fr 1fr 1fr;
      margin: auto;
      padding-top: 2px;
  }

  .icon-let{
    display: none;
  }

  .icon-ic{
    height: 45px;
    margin-right: 5px;
  }
  
 .news-box{
  grid-template-columns: .5fr 1fr;
  column-gap:0px;
 }

.news-box-description div{
  /* background-color: rgb(112, 112, 112); */
  border-radius: 0px !important;
  text-align: left;
  padding:0px 8px 8px 8px;
}


/* alertas */
.list-alerts{
  width: 99%;
  grid-template-columns: 1fr .5fr;
}
    
}
