*{margin: 0px;}

.main-login-Page{
    margin: auto;
    max-width: 120vh;
    /* background-color:rgb(175, 175, 175); */
    height: 500px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: .15fr 1fr;
    column-gap: 10px;
    row-gap: 10px;
}

.danger{
  border: 2px solid rgb(192, 0, 0) !important;
  /* pointer-events: none; */
}

/*.main-login-Page div{*/
/*     background-color: brown; */
/*}*/
.top-item{
    display: grid;
    grid-template-columns: 10fr 1fr;
}

 .top-item div{
    display: grid;
    grid-template-columns: .3fr .5fr;
    padding-top:15px;
    padding-right:10px;
    column-gap: 3px;
 }

 .top-item .alerta-icon a{
    /* background: rgb(16, 193, 216); */
    display: grid;
    grid-template-columns: 1.4fr;
    grid-template-rows: 1fr 0fr;
 }

 .alerta-icon,.perfil-icon{
   /* background: #f00; */
   padding: 0px;
 }

.perfil-icon a img{
   width: 100%;
 }

 .top-item .perfil-icon a{
    /* background: rgb(196, 216, 16); */
    display: grid;
    grid-template-columns: 1.5fr;
    grid-template-rows: 1fr 0fr;
 }

 .alerta-icon label{
    margin: auto;
 }


 .alerta-icon:hover  img,.alerta-icon:hover label{
  filter: invert(48%) sepia(13%) saturate(3207%) hue-rotate(130deg) brightness(95%) contrast(80%);
  cursor: pointer;
 }

 .perfil-icon:hover  img{
  content:url("images/userActive.png");
  cursor: pointer;
 }
 
 .perfil-icon:hover label{
  color: #52D18D;
 }

 .perfil-icon label{
  margin: auto;
 }

 .center-intem{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: .4fr 1fr;
    /* row-gap: 5px; */
 }

  .center-intem div{
      /* background: rgb(9, 48, 156); */
      text-align: center;
  }

  .center-intem div img{
     width: 34vh;
     margin: auto;
     padding-top: 15px;
  }

  .center-input-box{
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: .2fr .2fr .2fr;
    column-gap: 5px;
  }

  .center-input-box div{
    /* background-color: blue; */
  }

  .center-input-box div button{
    width: 80%;
    height: 50px;
    margin-left: 15px;
    border-radius: 10px 0px 0px 10px;
    border: none;
    border-left: 1px solid rgb(187, 187, 187);
    border-top: 1px solid  rgb(187, 187, 187);
    border-bottom: 1px solid  rgb(187, 187, 187);
    background-color: #fff;
  }
  .center-input-box div button img{
    width: 1.5vh;
    /* border: 1px solid #f00; */
    padding-top: 0px;
  }

  .center-input-box div input{
    width: 100%;
    height: 50px;
    border: none;
    padding-left: 15px;
    font-size: 15px;
    border-radius: 0px 10px 10px 0px;
    border-right: 1px solid rgb(187, 187, 187);
    border-top: 1px solid rgb(187, 187, 187);
    border-bottom: 1px solid  rgb(187, 187, 187);
  }

  .form-list{
      padding: 10px;
      display: grid;
      grid-template-columns: .15fr 1.2fr;
  }
    .form-list div{
      /* background: #f00; */
    }


    .login-main-page{
      max-width: 100vh;
      height: 500px;
      margin: 190px auto;
      text-align: center;
      /* background-color: rgb(8, 94, 65); */
    }

    .login-main-page > div{
      width: 45vh;
      margin: auto;
      border: 2px solid rgb(216, 215, 215);
      border-radius: 10px;
      /* background-color: blueviolet; */
      height: 400px;
      display: grid;
      grid-template-columns:1fr;
      grid-template-rows: .2fr .0fr .0fr .01fr 0.2fr;
      column-gap: 5px;
      row-gap: 5px;
    }

    .login-main-page > div > div{
      /* background-color: rgb(104, 65, 17); */
      padding: 5px;
    }

     .login-main-page > div > div img{
       width: 9vh;
       margin: auto;
       padding-top: 5px;
     }
    .login-main-page > div > div input{
      width: 95%;
      margin: auto;
      height: 50px;
      padding-left: 10px;
      border: none;
      border-radius: 5px;
      border: 1px solid rgb(214, 214, 214);
      font-size: 18px;
     }
     .login-main-page > div > div input:focus{
      border: 2px solid #52d18d5b;
      transition: all .3s ease-in-out;
     }
     .login-main-page > div > div button{
      width: 95%;
      margin: auto;
      height: 50px;
      font-size: 16px;
      padding-left: 10px;
      background-color: #52D18D;
      border: none;
      color: #fff;
      border-radius: 5px;
      border: 1px solid rgb(214, 214, 214);
     }
     .login-main-page > div > div button:hover{
      width: 95%;
      margin: auto;
      height: 50px;
      padding-left: 10px;
      background-color: rgb(43, 146, 91);
      border: none;
      color: #fff;
      border-radius: 5px;
      border: 1px solid rgb(214, 214, 214);
      font-size: 15px;
      transition: all .5s ease;
     }


@media (prefers-reduced-motion: no-preference) {
      .danger {
        animation: danger infinite .5s linear;
      }
  }
@keyframes danger {
  from {
   border: .5px solid #f00 !important;
  }
  to {
    border: 4px solid #f00 !important;
  }
}

@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  .center-input-box{
    display: grid;
    grid-template-columns: .3fr 5fr .3fr;
    grid-template-rows: .2fr .2fr .2fr;
    column-gap: 5px;
  }
  
   .login-main-page{
      max-width: 100%;
      height: 500px;
      margin: 20px auto;
      text-align: center;
      /* background-color: rgb(8, 94, 65); */
    }
    
    .login-main-page > div{
      width: 95%;
      margin: auto;
      border: 2px solid rgb(216, 215, 215);
      border-radius: 10px;
      /* background-color: blueviolet; */
      height: 400px;
      display: grid;
      grid-template-columns:1fr;
      grid-template-rows: .2fr .0fr .0fr .01fr 0.2fr;
      column-gap: 5px;
      row-gap: 5px;
    }
    
    .alerta-icon label{
         margin-left:-3px;
     }
     .perfil-icon label{
          margin-left:-3px;
     }

   
  
  
}
